<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>User Information</title>
</head>

<body>
	<h1>User # [[${user.userId}]] Information</h1>

	<form action="" method="post">
		<div>
			Name: <input type="text" th:field="${user.name}" />
		</div>
		<div>
			Username: <input type="text" th:field="${user.username}" />
		</div>
		<div>
			Password: <input type="password" th:field="${user.newPassword}"/>
		</div>
		<hr />
		<div>
			Address Line 1: <input type="text" th:field="${address.addressline1}" />
		</div>
		<div>
			Address Line 2: <input type="text" th:field="${address.addressline2}" />
		</div>
		<div>
			City: <input type="text" th:field="${address.city}" />
		</div>
		<div>
			Region: <input type="text" th:field="${address.region}" />
		</div>

		<div>
			Country: <input type="text" th:field="${address.country}" />
		</div>

		<div>
			Zipcode: <input type="text" th:field="${address.zipcode}" />
		</div>

		<div>
			<input type="submit" value="Update User Account" />
		</div>
	</form>

	<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
		<input type="submit" value="Delete User Account" />
	</form>

	<hr />

	<h1>Accounts</h1>
	<div th:if="${#lists.size(accounts) > 0}" th:each="account : ${accounts}">
		<a th:text="${account.accountName}" 
		th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"></a> <br />
	</div>
	<div>
		<form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
			<input type="submit" value="Create New Bank Account"></input>
		</form>
	</div>


	<div><a th:href="@{/users}">Back</a></div>
</body>

</html>