<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Users</title>
</head>

<body>
	<h1>All Existing Users</h1>
	
	<a href="/register">
		<button type="button">Register New User</button>
	</a>
	
	<div th:each="user : ${users}">
		<a th:text="${user.userId}" th:href="@{/users/{userId}(userId=${user.userId})}"></a> <br />
		<span th:text="${user.username}"></span><br />
		<span th:text="${user.name}"></span><br />
		<span th:text="${user.password}"></span>
		<hr />
	</div>

</body>

</html>